/* -------------------------------- 

Font adjustments

-------------------------------- */

.font-leight { font-weight: 300; }

.font-normal { font-weight: 400; }

.font-semibold { font-weight: 600; }