*.suo
*.user
*.sln.docstates
Debug/
Release/
bin/
obj/

*.pfx

packages/
!packages/*/build/

_ReSharper*/
*.ReSharper

publish/
*.Publish.xml

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

# Others
~$*
*~