<div style="float: left; padding: 0 1em 0 0; width: 40%;" class="clearfix">
   <img src="~/Images/daniel.jpg" />
</div>
<div style="float: right; padding: 0 0 0 1em; width: 60%;" class="text-justify clearfix">
   <header class="text-center text-uppercase font-secondary">
      Daniel Horbat
   </header>
   I haveve been working behind the bar for more than 12 years and I am still loving this job.
   One of the guys that I worked with and experience the same passion for coffee is Marek.
   I worked with him at Walter Mitty's where I found out about his projects to raise money for charity.
   It is my pleasure to help Marek in his quest.
</div>