<header class="text-center text-uppercase font-secondary">
   My Story
</header>

<div class="text-justify">
   <p>Hi, my name is Marek Suchovsky and this is my story.</p>
   <p>
      It all started 2nd of December 2012 when my step mum passed away. Few years ago when she was diagnosed with cancer,
      she told me that she was not going to let cancer take her life. Operations, chemotherapy, loss of her both breasts and years of pain,
      nothing helped. She was the strongest woman I ever met, fighting for her life till the last minute, unfortunately she lost this fight.
      I remember that moment clearly.
   </p>
   <p>
      The worse part of our lives just came through, we lost our mum, wife, sister and a best friend.
      Through all this time we were receiving medical care and support from Northwest Hospice in Sligo. I’m very thankful for all the help and support they gave us,
      all the staff members are purely amazing people and as a THANK YOU to them I decided to organize an ART OF LIFE day.
      All collected money will go to <a href="http://www.northwesthospice.ie">Northwest Hospice</a> to make it little easier for them to help other people in need.
   </p>
   <p>
      I am 28 years old now and after this experience I decided to start doing charity work to try help people in need around me.
      Last year I did "Charity walk Dublin to Sligo" to raise money for Northwest Hospice and collected € 811 on my journey.
   </p>
</div>