<header class="text-center text-uppercase font-secondary">
    Program
</header>

<section id="cd-timeline" class="cd-container">

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-circle-1">
        </div><!--/.cd-timeline-img-->

        <div class="cd-timeline-content">

            <hgroup>
                <h1>Opening</h1>
                <h2>Mark and Dawn Adams</h2>
            </hgroup>
            <p class="text-justify">
                Best rated coffee, sandwiches, pastries and cakes.
                Mark Adams and professional photographer Dawn Adams will do face painting and portraits.
                Minimum donation is € 2.
            </p>
            <span class="cd-date">9am</span>
        </div>
    </div><!--/Opening-->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-circle-2">
        </div><!--/.cd-timeline-img-->

        <div class="cd-timeline-content">

            <hgroup>
                <h1>Barista training</h1>
                <h2>Marieta Cimpoesu</h2>
            </hgroup>
            <p class="text-justify">
                Mini barista training will give you knowledge of coffee, how to make perfect espresso or how to steam milk.
                Training will last 30-45 minutes and you will receive a barista certificate.
                Minimum donation is € 15.
            </p>
            <span class="cd-date">11am</span>
        </div>
    </div><!--/Barista training-->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-circle-3">
        </div><!--/.cd-timeline-img-->

        <div class="cd-timeline-content">

            <hgroup>
                <h1>Latte art show</h1>
                <h2>Daniel Horbat, Marek Suchovsky</h2>
            </hgroup>
            <p>
                Guys will perform they latte art skills and makes beautiful art on they coffees.
            </p>
            <span class="cd-date">15pm</span>
        </div>
    </div><!--/Latte art show-->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-circle-4">
        </div><!--/.cd-timeline-img-->

        <div class="cd-timeline-content">

            <hgroup>
                <h1>Live concert</h1>
                <h2>Shaun Doyle</h2>
            </hgroup>
            <p>
                Shaun is one of the best music artist you can meet in Dublin.
            </p>
            <span class="cd-date">17pm</span>
        </div>
    </div><!--/Live concert-->

</section><!--/.cd-timeline-->