<div style="float: left; padding: 0 1em 0 0; width: 60%;" class="text-justify clearfix">
    <header class="text-center text-uppercase font-secondary">
        Shaun Doyle
    </header>
    Hello, I am Shaun Doyle and I am a singer - songwriter from Newbridge, Co. Kildare. I have been playing music now for 5 years.
    I began an interest which grew to a passion for music after my grandfather thought me how to play the guitar.
    I am playing music at Art of life as I wanted to help out a good friend of mine raise money for Northwest Hospice.
    I have noticed that Marek has a love for this place and it's staff as it helped him and his family in the past.
    It is my pleasure to help him raise money for such an incredible place.
</div>
<div style="float: right; padding: 0 0 0 1em; width: 40%;" class="clearfix">
    <img src="~/Images/shaun.jpg"/>
</div>