<header class="text-center text-uppercase font-secondary">
   Take part
</header>

<div class="text-center">
   <p>For booking and info please contact me by mail <a href="mailto:suchovsky.marek@gmail.com">suchovsky.marek@gmail.com</a> </p>
   <p>All collected money goes to charity for <a href="http://www.northwesthospice.ie" target="_blank">Northwest Hospice.</a></p>
</div>