<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings />

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer>
    <httpErrors xdt:Transform="Replace" errorMode="DetailedLocalOnly" />
    <asp xdt:Transform="Replace" scriptErrorSentToBrowser="false" />
  </system.webServer>
</configuration>