<footer class="site-footer background-theme fullwidth text-center font-leight">

   <nav class="pagenav clearfix text-uppercase font-secondary font-leight clear-link-decoration no-hover-decoration">
      <ul class="inline-list">
         <li><a href="#the-story">My story</a></li>
         <li><a href="#program">Program</a></li>
         <li><a href="#where">Where</a></li>
         <li><a href="#take-part">Take part</a></li>
      </ul>
   </nav>

   <hgroup>
      <h1 class="text-uppercase">
         <span class="font-semibold">Art of Life</span> Dublin 2014
      </h1>
   </hgroup>
   
   <p class="text-lowercase">
      Event is proudly sponsored by <a href="http://www.cafesol.ie" target="_blank">Cafe Sol</a>
   </p>

   <div class="credits">created by <a href="https://jakubroman.sk" target="_blank">jro</a></div>

</footer><!--/.site-footer-->