<header class="site-header background-theme fullwidth text-center font-leight">

   <hgroup>
      <h1 class="font-ternary">Art of Life | Dublin 2014</h1>
      <h2 class="font-secondary">November 29</h2>
      <h3 class="font-secondary">Baxter and Greene</h3>
   </hgroup>
   <nav class="pagenav clearfix text-uppercase font-secondary font-leight clear-link-decoration no-hover-decoration">
      <ul class="inline-list">
         <li><a href="#the-story">My story</a></li>
         <li><a href="#program">Program</a></li>
         <li><a href="#where">Where</a></li>
         <li><a href="#take-part">Take part</a></li>
      </ul>
   </nav>
</header><!--/.site-header-->